header {
  padding: 1.2rem;
  img {
    width: 12rem;
  }
}
.container {
  min-height: 100vh;
  padding: 1.5rem;

  .login {
    padding: 1.5rem;
    width: 50%;
    margin: 0 auto;
    border-radius: 1rem;
    h1 {
      font-size: 2.2rem;
      margin: 1.5rem;
      text-align: center;
    }

    .borderLine,
    .borderLine2 {
      width: 75%;
      border-bottom: 0.03rem solid var(--gray);
      margin: 0 auto;
      margin-bottom: 1rem;
    }
    .borderLine2 {
      width: 50%;
    }

    form {
      width: 50%;
      margin: 0 auto;

      .login__inputs {
        width: 100%;
        padding: 2rem;

        label {
          font-weight: bold;
          font-size: 1.1rem;
          display: inline-block;
          margin-bottom: 0.3rem;
        }
        input {
          width: 100%;
          padding: 1.3rem;
          border-radius: 1rem;
          outline: none;
          color: var(--dark);
          font-size: 1.2rem;
        }
        .submitBtn {
          font-size: 1.8rem;
          font-weight: bold;
          background-color: var(--green);
          cursor: pointer;
          transition: all 300ms ease;
          &:hover {
            background-color: var(--dark-green);
          }
        }
      }
    }
    .createAccount {
      text-align: center;
      span {
        font-size: 1rem;
        margin-right: 0.5rem;
      }
      a {
        color: var(--green);
        font-size: 1rem;
        text-decoration: underline;
      }
    }
  }
}
