.layoutContainer {
  width: 100%;
  display: flex;
  gap: 0.5rem;

  .childrenElements {
    width: 75%;
    position: fixed;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
  }
}
